$color-primary-light: #ba9bc9;
$color-primary-light-1: #d4b2e5;
$color-primary-pink-1: #ffa8a4;

//Primary-color
$color-primary-pink: #ffb2a6;
$color-primary-dark: #574f9d;
$color-primary-blue: #9adcff;
$color-primary-dark-pink: #cd6767;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// //Font
// $default-font-size: 1.6rem;

//GRID
$gutter-horizontal: 8rem;
